/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin-top: 0px;
    padding: 0 50px;
    max-width: 1440px;
    margin: auto;
}

header li {
    border-top: solid 2px transparent;
}

header li:hover {
    border-color: var(--main-color);
    color: var(--main-color);
}

a {
    text-decoration: none;
}

.search-logo {
    border-radius: 15px 0px 0px 15px ;
    padding: 14px 19px 15px 19px;
    background-color: var(--main-bg-color);
}

.fa-location-dot {
    color: black;
}

.main-search{
    border: solid var(--main-bg-color) 1px;
    max-width: 350px;
}

.search-text {
    border-color: transparent;
}

.search-text:focus-visible {
    outline: none;
}

.search-bar button {
    border-radius: 0px 15px 15px 0px;
    border: solid var(--main-color) 1px;
    padding: 14px 16px 14px 16px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
}

a:hover {
    color: var(--main-color);
}

.filter button {
    border: solid 2px #d9d9d9;
    padding: 13px 19px 13px 19px;
    background-color: white;
}

.filter button:hover {
    background-color: var(--filter-bg-color);
}

.button-filter {
    flex-wrap: wrap;
}

.card {
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

footer {
    flex: 1 !important;
    background-color: var(--main-bg-color);
    padding: 20px;
}

footer h3 {
    margin: 0;
    font-size: 18px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.glass {
    color: var(--main-bg-color) !important;
}

.info {
    height: 24px;
    width: 24px;
    font-size: 14px;
    border-radius: 50%;
    border: solid 1px #d9d9d9;
    line-height: 24px;
}

.visible-sm {
    display: none !important;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hebergements-cards img {
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 8px;
    flex-grow: 1;
}

.hebergements-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 7px;
    margin-top: auto;
}

.hebergements a {
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 37%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 63%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 11px;
    margin-bottom: 0;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

/****** Activitées ***********/
.activity {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
    padding: 30px;
}

.activity-card {
    display: flex;
    gap: 30px;
}

.activity-card .card {
    flex: 1;
    padding: 0;
}

.activity-card img {
    border-radius: 20px 20px 0px 0px;
    height: 380px;
    width: 100%;
}

.activity-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}

.activity-card .card-content {
    padding-left: 15px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-card img{
        height: 200px;
    }

    .filter {
        flex-direction: column;
    }

    .title-filter {
        margin: 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .visible-sm {
        display: block !important;
    }

    .visible-td {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    main {
        padding: 0 20px;
    }

    header {
        flex-direction: column;
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse !important;
    }

    .mobile-card {
        flex-direction: column;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 100%;
    }
    
    .activity-card {
        flex-direction: column;
    }

    .activity-card img {
        height: 141px;
    }

    footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    header img {
        display: flex;
        margin: auto;
        margin-bottom: 30px;
    }

    .search-text {
        text-align: left !important;
    }

    .button-filter button {
        font-size: 14px !important;
    }

    header ul {
        margin: auto !important;
        gap: 0 !important;
        justify-content: center;
        padding: 0;
    }

    header li {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 0 !important;
        border-bottom: #F2F2F2 solid 2px;
        border-top: 0px !important;
    }


}


